body {
    margin: 0;
    font-family: 'Playfair Display';
    height: 100vh;
    background: black;
    overflow: hidden;
}

img {
    width: 100%;
}

.bg {
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

svg {
    width: 1em;
    margin: 2em auto;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}